<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron text-center">
            <h3>Account list</h3>
            <a id="accBtn" href="/" class="btn btn-primary m-1">Accounts</a>
            <a id="addAccBtn" href="/add_account" class="btn btn-warning m-1">Add account</a>
            <a id="editAccBtn" href="/edit_accounts" class="btn btn-info m-1">Edit/delete account</a>
    </div>